

<style type="text/css">.photo_бургер
{background: url(static/homepage/positions/burger_UTtUORU.jpg); background-size: 100%;}
#id_бургер{width:15%;height:50%;color:white;background:black;left:31%;top:11%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_бургер"></div>
     </div>
     <div class="name_pos">
          <h3>бургер</h3>
     </div>
     <div class="price">
          <h3>10</h3>
     </div>
     <div class="but_box">
         <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('бургер','+')">
         <div id="id_бургер">
             <div class="alert">0</div>
         </div>
         <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('бургер','-')">
     </div>
</div>
<style type="text/css">.photo_хотдог
{background: url(static/homepage/positions/burger_H48RddR.jpg); background-size: 100%;}
#id_хотдог{width:15%;height:50%;color:white;background:black;left:31%;top:11%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_хотдог"></div>
     </div>
     <div class="name_pos">
          <h3>хотдог</h3>
     </div>
     <div class="price">
          <h3>123</h3>
     </div>
     <div class="but_box">
         <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('хотдог','+')">
         <div id="id_хотдог">
             <div class="alert">0</div>
         </div>
         <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('хотдог','-')">
     </div>
</div>
<style type="text/css">.photo_шавухка
{background: url(static/homepage/positions/burger_D7gW3sp.jpg); background-size: 100%;}
#id_шавухка{width:15%;height:50%;color:white;background:black;left:31%;top:11%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_шавухка"></div>
     </div>
     <div class="name_pos">
          <h3>шавухка</h3>
     </div>
     <div class="price">
          <h3>345</h3>
     </div>
     <div class="but_box">
         <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('шавухка','+')">
         <div id="id_шавухка">
             <div class="alert">0</div>
         </div>
         <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('шавухка','-')">
     </div>
</div>