

<style type="text/css">.photo_суп
{background: url(static/homepage/positions/burger.jpg); background-size: 100%;}
#id_суп{width:15%;height:50%;color:white;background:black;left:31%;top:11%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_суп"></div>
     </div>
     <div class="name_pos">
          <h3>суп</h3>
     </div>
     <div class="price">
          <h3>1</h3>
     </div>
     <div class="but_box">
         <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('суп','+')">
         <div id="id_суп">
             <div class="alert">0</div>
         </div>
         <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('суп','-')">
     </div>
</div>
<style type="text/css">.photo_мегасуп
{background: url(static/homepage/positions/burger_6m23KzC.jpg); background-size: 100%;}
#id_мегасуп{width:15%;height:50%;color:white;background:black;left:31%;top:11%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_мегасуп"></div>
     </div>
     <div class="name_pos">
          <h3>мегасуп</h3>
     </div>
     <div class="price">
          <h3>321</h3>
     </div>
     <div class="but_box">
         <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('мегасуп','+')">
         <div id="id_мегасуп">
             <div class="alert">0</div>
         </div>
         <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('мегасуп','-')">
     </div>
</div>
<style type="text/css">.photo_СтимСуп
{background: url(static/homepage/positions/burger_rduLL35.jpg); background-size: 100%;}
#id_СтимСуп{width:15%;height:50%;color:white;background:black;left:31%;top:11%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_СтимСуп"></div>
     </div>
     <div class="name_pos">
          <h3>СтимСуп</h3>
     </div>
     <div class="price">
          <h3>098</h3>
     </div>
     <div class="but_box">
         <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('СтимСуп','+')">
         <div id="id_СтимСуп">
             <div class="alert">0</div>
         </div>
         <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('СтимСуп','-')">
     </div>
</div>
<style type="text/css">.photo_Чечевичный_крем-суп
{background: url(homepage/static/homepage/positions/photo_2021-01-04_03-44-57.jpg); background-size: 100%;}
#id_Чечевичный_крем-суп{width:15%;height:50%;color:white;background:black;left:31%;top:11%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Чечевичный_крем-суп"></div>
     </div>
     <div class="name_pos">
          <h3>Чечевичный_крем-суп</h3>
     </div>
     <div class="price">
          <h3>30000</h3>
     </div>
     <div class="but_box">
         <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Чечевичный_крем-суп','+')">
         <div id="id_Чечевичный_крем-суп">
             <div class="alert">0</div>
         </div>
         <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Чечевичный_крем-суп','-')">
     </div>
</div>
<style type="text/css">.photo_Крем-суп_из_брокколи_и_сыра
{background: url(homepage/static/homepage/positions/photo_2021-01-04_03-45-11.jpg); background-size: 100%;}
#id_Крем-суп_из_брокколи_и_сыра{width:15%;height:50%;color:white;background:black;left:31%;top:11%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Крем-суп_из_брокколи_и_сыра"></div>
     </div>
     <div class="name_pos">
          <h3>Крем-суп_из_брокколи_и_сыра</h3>
     </div>
     <div class="price">
          <h3>29000</h3>
     </div>
     <div class="but_box">
         <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Крем-суп_из_брокколи_и_сыра','+')">
         <div id="id_Крем-суп_из_брокколи_и_сыра">
             <div class="alert">0</div>
         </div>
         <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Крем-суп_из_брокколи_и_сыра','-')">
     </div>
</div>
<style type="text/css">.photo_Кукурузный_крем-суп
{background: url(homepage/static/homepage/positions/photo_2021-01-04_03-38-58_5o8x9w4.jpg); background-size: 100%;}
#id_Кукурузный_крем-суп{width:15%;height:50%;color:white;background:black;left:31%;top:11%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Кукурузный_крем-суп"></div>
     </div>
     <div class="name_pos">
          <h3>Кукурузный_крем-суп</h3>
     </div>
     <div class="price">
          <h3>29000</h3>
     </div>
     <div class="but_box">
         <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Кукурузный_крем-суп','+')">
         <div id="id_Кукурузный_крем-суп">
             <div class="alert">0</div>
         </div>
         <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Кукурузный_крем-суп','-')">
     </div>
</div>
<style type="text/css">.photo_Тыквенный_крем-суп
{background: url(homepage/static/homepage/positions/photo_2021-01-04_03-38-58_g3HEI9n.jpg); background-size: 100%;}
#id_Тыквенный_крем-суп{width:15%;height:50%;color:white;background:black;left:31%;top:11%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Тыквенный_крем-суп"></div>
     </div>
     <div class="name_pos">
          <h3>Тыквенный_крем-суп</h3>
     </div>
     <div class="price">
          <h3>30000</h3>
     </div>
     <div class="but_box">
         <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Тыквенный_крем-суп','+')">
         <div id="id_Тыквенный_крем-суп">
             <div class="alert">0</div>
         </div>
         <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Тыквенный_крем-суп','-')">
     </div>
</div>
<style type="text/css">.photo_Мексиканский_суп
{background: url(homepage/static/homepage/positions/photo_2021-01-04_03-45-21.jpg); background-size: 100%;}
#id_Мексиканский_суп{width:15%;height:50%;color:white;background:black;left:31%;top:11%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Мексиканский_суп"></div>
     </div>
     <div class="name_pos">
          <h3>Мексиканский_суп</h3>
     </div>
     <div class="price">
          <h3>26000</h3>
     </div>
     <div class="but_box">
         <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Мексиканский_суп','+')">
         <div id="id_Мексиканский_суп">
             <div class="alert">0</div>
         </div>
         <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Мексиканский_суп','-')">
     </div>
</div>
<style type="text/css">.photo_Грибной_крем-суп
{background: url(homepage/static/homepage/positions/photo_2021-01-04_03-38-58_gAvddCI.jpg); background-size: 100%;}
#id_Грибной_крем-суп{width:15%;height:50%;color:white;background:black;left:31%;top:11%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Грибной_крем-суп"></div>
     </div>
     <div class="name_pos">
          <h3>Грибной_крем-суп</h3>
     </div>
     <div class="price">
          <h3>30000</h3>
     </div>
     <div class="but_box">
         <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Грибной_крем-суп','+')">
         <div id="id_Грибной_крем-суп">
             <div class="alert">0</div>
         </div>
         <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Грибной_крем-суп','-')">
     </div>
</div>