

<style type="text/css">.photo_Фишбургер
{background: url(static/homepage/positions/photo_2021-01-04_04-21-39.jpg); background-size: 100%;}
.id_Фишбургер{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Фишбургер"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Фишбургер</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Фишбургер">30000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Фишбургер','+')">
             <div class="id_Фишбургер">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Фишбургер','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Бургер_Манхэттен
{background: url(static/homepage/positions/photo_2021-01-04_04-22-31.jpg); background-size: 100%;}
.id_Бургер_Манхэттен{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Бургер_Манхэттен"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Бургер Манхэттен</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Бургер_Манхэттен">34000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Бургер_Манхэттен','+')">
             <div class="id_Бургер_Манхэттен">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Бургер_Манхэттен','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Бургер_БлюЧиз
{background: url(static/homepage/positions/photo_2021-01-04_04-23-03.jpg); background-size: 100%;}
.id_Бургер_БлюЧиз{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Бургер_БлюЧиз"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Бургер БлюЧиз</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Бургер_БлюЧиз">34000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Бургер_БлюЧиз','+')">
             <div class="id_Бургер_БлюЧиз">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Бургер_БлюЧиз','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Бургер_Барбекю
{background: url(static/homepage/positions/photo_2021-01-04_03-38-58_TjTxUQa.jpg); background-size: 100%;}
.id_Бургер_Барбекю{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Бургер_Барбекю"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Бургер Барбекю</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Бургер_Барбекю">41000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Бургер_Барбекю','+')">
             <div class="id_Бургер_Барбекю">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Бургер_Барбекю','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Бургер_бомба
{background: url(static/homepage/positions/photo_2021-01-04_04-24-04.jpg); background-size: 100%;}
.id_Бургер_бомба{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Бургер_бомба"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Бургер бомба</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Бургер_бомба">40000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Бургер_бомба','+')">
             <div class="id_Бургер_бомба">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Бургер_бомба','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Гранд_Бургер
{background: url(static/homepage/positions/photo_2021-01-04_04-24-34.jpg); background-size: 100%;}
.id_Гранд_Бургер{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Гранд_Бургер"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Гранд Бургер</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Гранд_Бургер">37000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Гранд_Бургер','+')">
             <div class="id_Гранд_Бургер">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Гранд_Бургер','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_ЦыпаБургер
{background: url(static/homepage/positions/photo_2021-01-04_04-25-04.jpg); background-size: 100%;}
.id_ЦыпаБургер{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_ЦыпаБургер"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>ЦыпаБургер</h3>
         </div>
         <div class="price">
             <h3 id="id_price_ЦыпаБургер">33000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('ЦыпаБургер','+')">
             <div class="id_ЦыпаБургер">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('ЦыпаБургер','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_СырБургер
{background: url(static/homepage/positions/photo_2021-01-04_04-25-04_sGkbwHs.jpg); background-size: 100%;}
.id_СырБургер{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_СырБургер"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>СырБургер</h3>
         </div>
         <div class="price">
             <h3 id="id_price_СырБургер">34000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('СырБургер','+')">
             <div class="id_СырБургер">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('СырБургер','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Мексиканский_Бургер
{background: url(static/homepage/positions/photo_2021-01-04_04-25-04_nIUeLZN.jpg); background-size: 100%;}
.id_Мексиканский_Бургер{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Мексиканский_Бургер"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Мексиканский Бургер</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Мексиканский_Бургер">32000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Мексиканский_Бургер','+')">
             <div class="id_Мексиканский_Бургер">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Мексиканский_Бургер','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Бургер_Стим
{background: url(static/homepage/positions/photo_2021-01-04_04-27-06.jpg); background-size: 100%;}
.id_Бургер_Стим{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Бургер_Стим"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Бургер Стим</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Бургер_Стим">38400</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Бургер_Стим','+')">
             <div class="id_Бургер_Стим">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Бургер_Стим','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_БыкБургер
{background: url(static/homepage/positions/photo_2021-01-04_04-27-06_igqga0b.jpg); background-size: 100%;}
.id_БыкБургер{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_БыкБургер"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>БыкБургер</h3>
         </div>
         <div class="price">
             <h3 id="id_price_БыкБургер">35000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('БыкБургер','+')">
             <div class="id_БыкБургер">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('БыкБургер','-')">
         </div>
     </div>
</div>