

<style type="text/css">.photo_Овощи_на_гриле
{background: url(static/homepage/positions/photo_2021-01-04_04-31-09.jpg); background-size: 100%;}
.id_Овощи_на_гриле{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Овощи_на_гриле"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Овощи на гриле</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Овощи_на_гриле">23300</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Овощи_на_гриле','+')">
             <div class="id_Овощи_на_гриле">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Овощи_на_гриле','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Шампинбоны_на_гриле
{background: url(static/homepage/positions/photo_2021-01-04_04-31-48.jpg); background-size: 100%;}
.id_Шампинбоны_на_гриле{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Шампинбоны_на_гриле"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Шампинбоны на гриле</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Шампинбоны_на_гриле">20000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Шампинбоны_на_гриле','+')">
             <div class="id_Шампинбоны_на_гриле">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Шампинбоны_на_гриле','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Картофельный_кармашек
{background: url(static/homepage/positions/photo_2021-01-04_04-33-01.jpg); background-size: 100%;}
.id_Картофельный_кармашек{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Картофельный_кармашек"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Картофельный кармашек</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Картофельный_кармашек">19000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Картофельный_кармашек','+')">
             <div class="id_Картофельный_кармашек">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Картофельный_кармашек','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Кукуруза_на_гриле
{background: url(static/homepage/positions/photo_2021-01-04_04-33-34.jpg); background-size: 100%;}
.id_Кукуруза_на_гриле{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Кукуруза_на_гриле"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Кукуруза на гриле</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Кукуруза_на_гриле">17000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Кукуруза_на_гриле','+')">
             <div class="id_Кукуруза_на_гриле">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Кукуруза_на_гриле','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Кукуруза_смокер
{background: url(static/homepage/positions/photo_2021-01-04_03-38-58_5wBVgzl.jpg); background-size: 100%;}
.id_Кукуруза_смокер{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Кукуруза_смокер"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Кукуруза смокер</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Кукуруза_смокер">19000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Кукуруза_смокер','+')">
             <div class="id_Кукуруза_смокер">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Кукуруза_смокер','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Молодой_картофель
{background: url(static/homepage/positions/photo_2021-01-04_04-34-41.jpg); background-size: 100%;}
.id_Молодой_картофель{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Молодой_картофель"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Молодой картофель</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Молодой_картофель">10000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Молодой_картофель','+')">
             <div class="id_Молодой_картофель">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Молодой_картофель','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Коул-слоу
{background: url(static/homepage/positions/photo_2021-01-04_04-35-06.jpg); background-size: 100%;}
.id_Коул-слоу{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Коул-слоу"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Коул-слоу</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Коул-слоу">8900</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Коул-слоу','+')">
             <div class="id_Коул-слоу">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Коул-слоу','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Фермерское_пюре
{background: url(static/homepage/positions/photo_2021-01-04_03-38-58_twLfsJg.jpg); background-size: 100%;}
.id_Фермерское_пюре{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Фермерское_пюре"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Фермерское пюре</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Фермерское_пюре">13000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Фермерское_пюре','+')">
             <div class="id_Фермерское_пюре">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Фермерское_пюре','-')">
         </div>
     </div>
</div>