

<style type="text/css">.photo_Чесночные_гренки
{background: url(static/homepage/positions/photo_2021-01-04_03-48-57.jpg); background-size: 100%;}
.id_Чесночные_гренки{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Чесночные_гренки"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Чесночные гренки</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Чесночные_гренки">16000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Чесночные_гренки','+')">
             <div class="id_Чесночные_гренки">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Чесночные_гренки','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Картофельные_дольки
{background: url(static/homepage/positions/photo_2021-01-04_03-49-35.jpg); background-size: 100%;}
.id_Картофельные_дольки{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Картофельные_дольки"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Картофельные дольки</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Картофельные_дольки">15000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Картофельные_дольки','+')">
             <div class="id_Картофельные_дольки">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Картофельные_дольки','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Бараньи_семечки
{background: url(static/homepage/positions/photo_2021-01-04_03-50-09.jpg); background-size: 100%;}
.id_Бараньи_семечки{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Бараньи_семечки"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Бараньи семечки</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Бараньи_семечки">60000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Бараньи_семечки','+')">
             <div class="id_Бараньи_семечки">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Бараньи_семечки','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Закуска_сталкера
{background: url(static/homepage/positions/photo_2021-01-04_03-50-51.jpg); background-size: 100%;}
.id_Закуска_сталкера{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Закуска_сталкера"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Закуска сталкера</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Закуска_сталкера">31000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Закуска_сталкера','+')">
             <div class="id_Закуска_сталкера">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Закуска_сталкера','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Домашние_чипсы
{background: url(static/homepage/positions/photo_2021-01-04_03-51-33.jpg); background-size: 100%;}
.id_Домашние_чипсы{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Домашние_чипсы"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Домашние чипсы</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Домашние_чипсы">12000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Домашние_чипсы','+')">
             <div class="id_Домашние_чипсы">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Домашние_чипсы','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Куринные_нагетсы
{background: url(static/homepage/positions/photo_2021-01-04_03-52-10.jpg); background-size: 100%;}
.id_Куринные_нагетсы{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Куринные_нагетсы"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Куринные нагетсы</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Куринные_нагетсы">6500</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Куринные_нагетсы','+')">
             <div class="id_Куринные_нагетсы">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Куринные_нагетсы','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Острые_куринные_крылышки
{background: url(static/homepage/positions/photo_2021-01-04_03-52-51.jpg); background-size: 100%;}
.id_Острые_куринные_крылышки{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Острые_куринные_крылышки"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Острые куринные крылышки</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Острые_куринные_крылышки">6500</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Острые_куринные_крылышки','+')">
             <div class="id_Острые_куринные_крылышки">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Острые_куринные_крылышки','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Куринные_крылья_гриль
{background: url(static/homepage/positions/photo_2021-01-04_03-53-36.jpg); background-size: 100%;}
.id_Куринные_крылья_гриль{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Куринные_крылья_гриль"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Куринные крылья гриль</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Куринные_крылья_гриль">36000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Куринные_крылья_гриль','+')">
             <div class="id_Куринные_крылья_гриль">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Куринные_крылья_гриль','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Картофель_фри
{background: url(static/homepage/positions/photo_2021-01-04_03-54-10.jpg); background-size: 100%;}
.id_Картофель_фри{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Картофель_фри"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Картофель фри</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Картофель_фри">15000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Картофель_фри','+')">
             <div class="id_Картофель_фри">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Картофель_фри','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Рыбные_палочки_в_панировке
{background: url(static/homepage/positions/photo_2021-01-04_03-54-53.jpg); background-size: 100%;}
.id_Рыбные_палочки_в_панировке{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Рыбные_палочки_в_панировке"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Рыбные палочки в панировке</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Рыбные_палочки_в_панировке">20000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Рыбные_палочки_в_панировке','+')">
             <div class="id_Рыбные_палочки_в_панировке">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Рыбные_палочки_в_панировке','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Охотничьи_колбаски_с_картофелем
{background: url(static/homepage/positions/photo_2021-01-04_03-55-33.jpg); background-size: 100%;}
.id_Охотничьи_колбаски_с_картофелем{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Охотничьи_колбаски_с_картофелем"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Охотничьи колбаски с картофелем</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Охотничьи_колбаски_с_картофелем">31000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Охотничьи_колбаски_с_картофелем','+')">
             <div class="id_Охотничьи_колбаски_с_картофелем">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Охотничьи_колбаски_с_картофелем','-')">
         </div>
     </div>
</div>