

<style type="text/css">.photo_Ассорти_из_всех_колбасок
{background: url(static/homepage/positions/photo_2021-01-04_03-56-47.jpg); background-size: 100%;}
.id_Ассорти_из_всех_колбасок{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Ассорти_из_всех_колбасок"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Ассорти из всех колбасок</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Ассорти_из_всех_колбасок">230000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Ассорти_из_всех_колбасок','+')">
             <div class="id_Ассорти_из_всех_колбасок">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Ассорти_из_всех_колбасок','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Колбаски_из_говядины
{background: url(static/homepage/positions/photo_2021-01-04_03-57-32.jpg); background-size: 100%;}
.id_Колбаски_из_говядины{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Колбаски_из_говядины"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Колбаски из говядины</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Колбаски_из_говядины">52000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Колбаски_из_говядины','+')">
             <div class="id_Колбаски_из_говядины">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Колбаски_из_говядины','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Колбаски_из_курицы_с_грибами
{background: url(static/homepage/positions/photo_2021-01-04_03-58-06.jpg); background-size: 100%;}
.id_Колбаски_из_курицы_с_грибами{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Колбаски_из_курицы_с_грибами"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Колбаски из курицы с грибами</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Колбаски_из_курицы_с_грибами">45000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Колбаски_из_курицы_с_грибами','+')">
             <div class="id_Колбаски_из_курицы_с_грибами">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Колбаски_из_курицы_с_грибами','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Колбаски_из_баранины
{background: url(static/homepage/positions/photo_2021-01-04_03-58-43.jpg); background-size: 100%;}
.id_Колбаски_из_баранины{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Колбаски_из_баранины"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Колбаски из баранины</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Колбаски_из_баранины">52000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Колбаски_из_баранины','+')">
             <div class="id_Колбаски_из_баранины">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Колбаски_из_баранины','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Колбаски_Съешь_меня
{background: url(static/homepage/positions/photo_2021-01-04_03-59-15.jpg); background-size: 100%;}
.id_Колбаски_Съешь_меня{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Колбаски_Съешь_меня"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Колбаски Съешь меня</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Колбаски_Съешь_меня">55000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Колбаски_Съешь_меня','+')">
             <div class="id_Колбаски_Съешь_меня">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Колбаски_Съешь_меня','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Ассорти_из_колбасок
{background: url(static/homepage/positions/photo_2021-01-04_03-59-47.jpg); background-size: 100%;}
.id_Ассорти_из_колбасок{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Ассорти_из_колбасок"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Ассорти из колбасок</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Ассорти_из_колбасок">155000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Ассорти_из_колбасок','+')">
             <div class="id_Ассорти_из_колбасок">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Ассорти_из_колбасок','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Куринные_колбаски_с_сыром
{background: url(static/homepage/positions/photo_2021-01-04_04-00-21.jpg); background-size: 100%;}
.id_Куринные_колбаски_с_сыром{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Куринные_колбаски_с_сыром"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Куринные колбаски с сыром</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Куринные_колбаски_с_сыром">54000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Куринные_колбаски_с_сыром','+')">
             <div class="id_Куринные_колбаски_с_сыром">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Куринные_колбаски_с_сыром','-')">
         </div>
     </div>
</div>