

<style type="text/css">.photo_Pepsi_0.5
{background: url(static/homepage/positions/photo_2021-01-04_04-41-13.jpg); background-size: 100%;}
.id_Pepsi_0.5{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Pepsi_0.5"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Pepsi 0.5</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Pepsi_0.5">15000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Pepsi_0.5','+')">
             <div class="id_Pepsi_0.5">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Pepsi_0.5','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Borjomi
{background: url(static/homepage/positions/photo_2021-01-04_04-41-22.jpg); background-size: 100%;}
.id_Borjomi{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Borjomi"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Borjomi</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Borjomi">24000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Borjomi','+')">
             <div class="id_Borjomi">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Borjomi','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_RedBull
{background: url(static/homepage/positions/photo_2021-01-04_04-42-37.jpg); background-size: 100%;}
.id_RedBull{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_RedBull"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>RedBull</h3>
         </div>
         <div class="price">
             <h3 id="id_price_RedBull">36000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('RedBull','+')">
             <div class="id_RedBull">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('RedBull','-')">
         </div>
     </div>
</div>