

<style type="text/css">.photo_Салаты_шопский
{background: url(static/homepage/positions/photo_2021-01-04_03-38-58_UX2ALgy.jpg); background-size: 100%;}
.id_Салаты_шопский{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Салаты_шопский"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Салаты шопский</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Салаты_шопский">38000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Салаты_шопский','+')">
             <div class="id_Салаты_шопский">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Салаты_шопский','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Салат_с_сёмгой_и_апельсином
{background: url(static/homepage/positions/photo_2021-01-04_04-02-01.jpg); background-size: 100%;}
.id_Салат_с_сёмгой_и_апельсином{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Салат_с_сёмгой_и_апельсином"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Салат с сёмгой и апельсином</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Салат_с_сёмгой_и_апельсином">55000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Салат_с_сёмгой_и_апельсином','+')">
             <div class="id_Салат_с_сёмгой_и_апельсином">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Салат_с_сёмгой_и_апельсином','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Салат_с_моцареллой_и_томатами
{background: url(static/homepage/positions/photo_2021-01-04_04-02-45.jpg); background-size: 100%;}
.id_Салат_с_моцареллой_и_томатами{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Салат_с_моцареллой_и_томатами"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Салат с моцареллой и томатами</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Салат_с_моцареллой_и_томатами">45000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Салат_с_моцареллой_и_томатами','+')">
             <div class="id_Салат_с_моцареллой_и_томатами">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Салат_с_моцареллой_и_томатами','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Салат_с_цыпленком
{background: url(static/homepage/positions/photo_2021-01-04_03-38-58_JjyT5Dt.jpg); background-size: 100%;}
.id_Салат_с_цыпленком{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Салат_с_цыпленком"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Салат с цыпленком</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Салат_с_цыпленком">39500</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Салат_с_цыпленком','+')">
             <div class="id_Салат_с_цыпленком">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Салат_с_цыпленком','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Салат_с_копченным_ростбифом
{background: url(static/homepage/positions/photo_2021-01-04_04-03-39.jpg); background-size: 100%;}
.id_Салат_с_копченным_ростбифом{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Салат_с_копченным_ростбифом"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Салат с копченным ростбифом</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Салат_с_копченным_ростбифом">49000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Салат_с_копченным_ростбифом','+')">
             <div class="id_Салат_с_копченным_ростбифом">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Салат_с_копченным_ростбифом','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Салат_с_рукколой_и_говядиной
{background: url(static/homepage/positions/photo_2021-01-04_04-04-12.jpg); background-size: 100%;}
.id_Салат_с_рукколой_и_говядиной{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Салат_с_рукколой_и_говядиной"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Салат с рукколой и говядиной</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Салат_с_рукколой_и_говядиной">45000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Салат_с_рукколой_и_говядиной','+')">
             <div class="id_Салат_с_рукколой_и_говядиной">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Салат_с_рукколой_и_говядиной','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Салат_с_говядиной_и_маринованными_огурцами
{background: url(static/homepage/positions/photo_2021-01-04_03-38-58_Cc7iUGt.jpg); background-size: 100%;}
.id_Салат_с_говядиной_и_маринованными_огурцами{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Салат_с_говядиной_и_маринованными_огурцами"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Салат с говядиной и маринованными огурцами</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Салат_с_говядиной_и_маринованными_огурцами">38000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Салат_с_говядиной_и_маринованными_огурцами','+')">
             <div class="id_Салат_с_говядиной_и_маринованными_огурцами">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Салат_с_говядиной_и_маринованными_огурцами','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Салат_с_тунцом_и_моцареллой
{background: url(static/homepage/positions/photo_2021-01-04_04-05-29.jpg); background-size: 100%;}
.id_Салат_с_тунцом_и_моцареллой{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Салат_с_тунцом_и_моцареллой"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Салат с тунцом и моцареллой</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Салат_с_тунцом_и_моцареллой">47000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Салат_с_тунцом_и_моцареллой','+')">
             <div class="id_Салат_с_тунцом_и_моцареллой">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Салат_с_тунцом_и_моцареллой','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Салат_с_рукколой_и_тунцом
{background: url(static/homepage/positions/photo_2021-01-04_03-38-58_Z3FJDug.jpg); background-size: 100%;}
.id_Салат_с_рукколой_и_тунцом{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Салат_с_рукколой_и_тунцом"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Салат с рукколой и тунцом</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Салат_с_рукколой_и_тунцом">40000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Салат_с_рукколой_и_тунцом','+')">
             <div class="id_Салат_с_рукколой_и_тунцом">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Салат_с_рукколой_и_тунцом','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Фета
{background: url(static/homepage/positions/photo_2021-01-04_04-06-58.jpg); background-size: 100%;}
.id_Фета{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Фета"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Фета</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Фета">40000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Фета','+')">
             <div class="id_Фета">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Фета','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Стим_Цезарь
{background: url(static/homepage/positions/photo_2021-01-04_04-07-34.jpg); background-size: 100%;}
.id_Стим_Цезарь{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Стим_Цезарь"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Стим Цезарь</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Стим_Цезарь">39000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Стим_Цезарь','+')">
             <div class="id_Стим_Цезарь">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Стим_Цезарь','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Теплый_салат_с_баклажанами
{background: url(static/homepage/positions/photo_2021-01-04_04-08-14.jpg); background-size: 100%;}
.id_Теплый_салат_с_баклажанами{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Теплый_салат_с_баклажанами"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Теплый салат с баклажанами</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Теплый_салат_с_баклажанами">43000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Теплый_салат_с_баклажанами','+')">
             <div class="id_Теплый_салат_с_баклажанами">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Теплый_салат_с_баклажанами','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Салат_с_курицей_и_ананасами
{background: url(static/homepage/positions/photo_2021-01-04_03-38-58_ghj6Hb3.jpg); background-size: 100%;}
.id_Салат_с_курицей_и_ананасами{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Салат_с_курицей_и_ананасами"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Салат с курицей и ананасами</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Салат_с_курицей_и_ананасами">48000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Салат_с_курицей_и_ананасами','+')">
             <div class="id_Салат_с_курицей_и_ананасами">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Салат_с_курицей_и_ананасами','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Салат_с_инжиром_и_риккотой
{background: url(static/homepage/positions/photo_2021-01-04_03-38-58_dDgI7Q4.jpg); background-size: 100%;}
.id_Салат_с_инжиром_и_риккотой{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Салат_с_инжиром_и_риккотой"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Салат с инжиром и риккотой</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Салат_с_инжиром_и_риккотой">51000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Салат_с_инжиром_и_риккотой','+')">
             <div class="id_Салат_с_инжиром_и_риккотой">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Салат_с_инжиром_и_риккотой','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Салат_с_французским_багетом
{background: url(static/homepage/positions/photo_2021-01-04_04-10-10.jpg); background-size: 100%;}
.id_Салат_с_французским_багетом{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Салат_с_французским_багетом"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Салат с французским багетом</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Салат_с_французским_багетом">37000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Салат_с_французским_багетом','+')">
             <div class="id_Салат_с_французским_багетом">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Салат_с_французским_багетом','-')">
         </div>
     </div>
</div>