

<style type="text/css">.photo_Горчичный_тар-тар_чесночный
{background: url(static/homepage/positions/photo_2021-01-04_03-38-58_8gEMvkE.jpg); background-size: 100%;}
.id_Горчичный_тар-тар_чесночный{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Горчичный_тар-тар_чесночный"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Горчичный тар-тар чесночный</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Горчичный_тар-тар_чесночный">10000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Горчичный_тар-тар_чесночный','+')">
             <div class="id_Горчичный_тар-тар_чесночный">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Горчичный_тар-тар_чесночный','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Перечный_сырный_BBQ
{background: url(static/homepage/positions/photo_2021-01-04_03-38-58_uGmZ4nX.jpg); background-size: 100%;}
.id_Перечный_сырный_BBQ{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Перечный_сырный_BBQ"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Перечный сырный BBQ</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Перечный_сырный_BBQ">10000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Перечный_сырный_BBQ','+')">
             <div class="id_Перечный_сырный_BBQ">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Перечный_сырный_BBQ','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Соус_биг-мак_грибной_сальса
{background: url(static/homepage/positions/photo_2021-01-04_03-38-58_VOX2MZm.jpg); background-size: 100%;}
.id_Соус_биг-мак_грибной_сальса{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Соус_биг-мак_грибной_сальса"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Соус биг-мак грибной сальса</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Соус_биг-мак_грибной_сальса">10000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Соус_биг-мак_грибной_сальса','+')">
             <div class="id_Соус_биг-мак_грибной_сальса">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Соус_биг-мак_грибной_сальса','-')">
         </div>
     </div>
</div>