

<style type="text/css">.photo_Копчённое_бедрышко
{background: url(static/homepage/positions/photo_2021-01-04_03-38-58_pQOWPNJ.jpg); background-size: 100%;}
.id_Копчённое_бедрышко{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Копчённое_бедрышко"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Копчённое бедрышко</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Копчённое_бедрышко">42000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Копчённое_бедрышко','+')">
             <div class="id_Копчённое_бедрышко">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Копчённое_бедрышко','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Стейк_из_куринного_филе
{background: url(static/homepage/positions/photo_2021-01-04_04-16-03.jpg); background-size: 100%;}
.id_Стейк_из_куринного_филе{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Стейк_из_куринного_филе"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Стейк из куринного филе</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Стейк_из_куринного_филе">44000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Стейк_из_куринного_филе','+')">
             <div class="id_Стейк_из_куринного_филе">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Стейк_из_куринного_филе','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Ассорти_на_компанию
{background: url(static/homepage/positions/photo_2021-01-04_04-16-35.jpg); background-size: 100%;}
.id_Ассорти_на_компанию{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Ассорти_на_компанию"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Ассорти на компанию</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Ассорти_на_компанию">350000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Ассорти_на_компанию','+')">
             <div class="id_Ассорти_на_компанию">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Ассорти_на_компанию','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Дикий_ласось
{background: url(static/homepage/positions/photo_2021-01-04_04-17-11.jpg); background-size: 100%;}
.id_Дикий_ласось{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Дикий_ласось"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Дикий ласось</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Дикий_ласось">85000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Дикий_ласось','+')">
             <div class="id_Дикий_ласось">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Дикий_ласось','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Вырезка_на_гриле
{background: url(static/homepage/positions/photo_2021-01-04_03-38-58_Sj7PjBB.jpg); background-size: 100%;}
.id_Вырезка_на_гриле{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Вырезка_на_гриле"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Вырезка на гриле</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Вырезка_на_гриле">95000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Вырезка_на_гриле','+')">
             <div class="id_Вырезка_на_гриле">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Вырезка_на_гриле','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Филе_Миньон
{background: url(static/homepage/positions/photo_2021-01-04_03-38-58_NEwiXA5.jpg); background-size: 100%;}
.id_Филе_Миньон{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Филе_Миньон"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Филе Миньон</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Филе_Миньон">80000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Филе_Миньон','+')">
             <div class="id_Филе_Миньон">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Филе_Миньон','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Корейка_ягненка
{background: url(static/homepage/positions/photo_2021-01-04_04-18-39.jpg); background-size: 100%;}
.id_Корейка_ягненка{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Корейка_ягненка"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Корейка ягненка</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Корейка_ягненка">28000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Корейка_ягненка','+')">
             <div class="id_Корейка_ягненка">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Корейка_ягненка','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Сахарная_косточка
{background: url(static/homepage/positions/photo_2021-01-04_03-38-58_11YQ0kb.jpg); background-size: 100%;}
.id_Сахарная_косточка{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Сахарная_косточка"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Сахарная косточка</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Сахарная_косточка">35000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Сахарная_косточка','+')">
             <div class="id_Сахарная_косточка">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Сахарная_косточка','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Бараньи_ребрышки
{background: url(static/homepage/positions/photo_2021-01-04_04-19-38.jpg); background-size: 100%;}
.id_Бараньи_ребрышки{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Бараньи_ребрышки"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Бараньи ребрышки</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Бараньи_ребрышки">61000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Бараньи_ребрышки','+')">
             <div class="id_Бараньи_ребрышки">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Бараньи_ребрышки','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Стейк_из_сома
{background: url(static/homepage/positions/photo_2021-01-04_04-20-12.jpg); background-size: 100%;}
.id_Стейк_из_сома{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Стейк_из_сома"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Стейк из сома</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Стейк_из_сома">55000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Стейк_из_сома','+')">
             <div class="id_Стейк_из_сома">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Стейк_из_сома','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Судак_на_гриле
{background: url(static/homepage/positions/photo_2021-01-04_03-38-58_Dou2ZKO.jpg); background-size: 100%;}
.id_Судак_на_гриле{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Судак_на_гриле"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Судак на гриле</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Судак_на_гриле">63000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Судак_на_гриле','+')">
             <div class="id_Судак_на_гриле">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Судак_на_гриле','-')">
         </div>
     </div>
</div>