

<style type="text/css">.photo_Баранья_лопатка
{background: url(static/homepage/positions/photo_2021-01-04_04-37-03.jpg); background-size: 100%;}
.id_Баранья_лопатка{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Баранья_лопатка"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Баранья лопатка</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Баранья_лопатка">34000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Баранья_лопатка','+')">
             <div class="id_Баранья_лопатка">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Баранья_лопатка','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Ассорти_биг-смокер
{background: url(static/homepage/positions/photo_2021-01-04_03-38-58_1gvEjxQ.jpg); background-size: 100%;}
.id_Ассорти_биг-смокер{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Ассорти_биг-смокер"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Ассорти биг-смокер</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Ассорти_биг-смокер">350000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Ассорти_биг-смокер','+')">
             <div class="id_Ассорти_биг-смокер">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Ассорти_биг-смокер','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Брискет
{background: url(static/homepage/positions/photo_2021-01-04_04-38-05.jpg); background-size: 100%;}
.id_Брискет{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Брискет"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Брискет</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Брискет">33000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Брискет','+')">
             <div class="id_Брискет">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Брискет','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Копчённая_куринная_голень
{background: url(static/homepage/positions/photo_2021-01-04_03-38-58_BGMLuZl.jpg); background-size: 100%;}
.id_Копчённая_куринная_голень{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Копчённая_куринная_голень"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Копчённая куринная голень</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Копчённая_куринная_голень">12000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Копчённая_куринная_голень','+')">
             <div class="id_Копчённая_куринная_голень">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Копчённая_куринная_голень','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Говяжьи_рёбра
{background: url(static/homepage/positions/photo_2021-01-04_04-39-16.jpg); background-size: 100%;}
.id_Говяжьи_рёбра{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Говяжьи_рёбра"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Говяжьи рёбра</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Говяжьи_рёбра">33000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Говяжьи_рёбра','+')">
             <div class="id_Говяжьи_рёбра">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Говяжьи_рёбра','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Говяжьи_колбаски_Техас
{background: url(static/homepage/positions/photo_2021-01-04_03-38-58_7x8AD6r.jpg); background-size: 100%;}
.id_Говяжьи_колбаски_Техас{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Говяжьи_колбаски_Техас"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Говяжьи колбаски Техас</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Говяжьи_колбаски_Техас">22000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Говяжьи_колбаски_Техас','+')">
             <div class="id_Говяжьи_колбаски_Техас">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Говяжьи_колбаски_Техас','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Куринные_колбаски_Техас
{background: url(static/homepage/positions/photo_2021-01-04_03-38-58_M1h7T0h.jpg); background-size: 100%;}
.id_Куринные_колбаски_Техас{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Куринные_колбаски_Техас"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Куринные колбаски Техас</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Куринные_колбаски_Техас">17600</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Куринные_колбаски_Техас','+')">
             <div class="id_Куринные_колбаски_Техас">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Куринные_колбаски_Техас','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Копчённые_куринные_крылья
{background: url(static/homepage/positions/photo_2021-01-04_03-38-58_ofMqTdx.jpg); background-size: 100%;}
.id_Копчённые_куринные_крылья{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Копчённые_куринные_крылья"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Копчённые куринные крылья</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Копчённые_куринные_крылья">12000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Копчённые_куринные_крылья','+')">
             <div class="id_Копчённые_куринные_крылья">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Копчённые_куринные_крылья','-')">
         </div>
     </div>
</div>