

<style type="text/css">.photo_Закуска_Закусь_на_стол
{background: url(static/homepage/positions/photo_2021-01-04_03-38-58.jpg); background-size: 100%;}
.id_Закуска_Закусь_на_стол{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Закуска_Закусь_на_стол"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Закуска Закусь на стол</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Закуска_Закусь_на_стол">85000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Закуска_Закусь_на_стол','+')">
             <div class="id_Закуска_Закусь_на_стол">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Закуска_Закусь_на_стол','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Закуска_Украинская
{background: url(static/homepage/positions/photo_2021-01-04_03-39-21.jpg); background-size: 100%;}
.id_Закуска_Украинская{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Закуска_Украинская"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Закуска Украинская</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Закуска_Украинская">55000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Закуска_Украинская','+')">
             <div class="id_Закуска_Украинская">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Закуска_Украинская','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Маринованные_шампиньоны
{background: url(static/homepage/positions/photo_2021-01-04_03-38-58_OquaUi4.jpg); background-size: 100%;}
.id_Маринованные_шампиньоны{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Маринованные_шампиньоны"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Маринованные шампиньоны</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Маринованные_шампиньоны">21000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Маринованные_шампиньоны','+')">
             <div class="id_Маринованные_шампиньоны">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Маринованные_шампиньоны','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Сбор_маринованных_овощей
{background: url(static/homepage/positions/photo_2021-01-04_03-38-58_K71oEQZ.jpg); background-size: 100%;}
.id_Сбор_маринованных_овощей{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Сбор_маринованных_овощей"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Сбор маринованных овощей</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Сбор_маринованных_овощей">37000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Сбор_маринованных_овощей','+')">
             <div class="id_Сбор_маринованных_овощей">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Сбор_маринованных_овощей','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Мясной_сет_для_компании
{background: url(static/homepage/positions/photo_2021-01-04_03-38-58_AMsYYsf.jpg); background-size: 100%;}
.id_Мясной_сет_для_компании{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Мясной_сет_для_компании"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Мясной сет для компании</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Мясной_сет_для_компании">140000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Мясной_сет_для_компании','+')">
             <div class="id_Мясной_сет_для_компании">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Мясной_сет_для_компании','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Бурата_с_томатами
{background: url(static/homepage/positions/photo_2021-01-04_03-38-58_zEohzc1.jpg); background-size: 100%;}
.id_Бурата_с_томатами{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Бурата_с_томатами"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Бурата с томатами</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Бурата_с_томатами">65000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Бурата_с_томатами','+')">
             <div class="id_Бурата_с_томатами">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Бурата_с_томатами','-')">
         </div>
     </div>
</div>
<style type="text/css">.photo_Сырная_эволюция
{background: url(static/homepage/positions/photo_2021-01-04_03-38-58_kZgjdGU.jpg); background-size: 100%;}
.id_Сырная_эволюция{width:15%; font-size: 33px; height:50%;color:white;background:black;left:31%;top:25%;display:inline-block;text-align:center;position:relative;}</style>
<div class="food_inside">
     <div class="food_gear">
          <div class="photo_pos photo_Сырная_эволюция"></div>
     </div>
     <div class="info_block">
         <div class="name_pos">
             <h3>Сырная эволюция</h3>
         </div>
         <div class="price">
             <h3 id="id_price_Сырная_эволюция">130000</h3>
         </div>
         <div class="but_box">
             <input class="g_button g_plus" name="someName" type="button" value="+" onclick="change_num('Сырная_эволюция','+')">
             <div class="id_Сырная_эволюция">
                 <div class="alert">0</div>
             </div>
             <input class="g_button g_minus" name="someName" type="button" value="-" onclick="change_num('Сырная_эволюция','-')">
         </div>
     </div>
</div>